<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    <form method="post">
        <input type="text" name="title" placeholder="Enter post title">
        <input type="text" name="text" placeholder="Enter post text">
        <button type="submit">Save</button>
    </form>
</div>

<table>
    <thead>
        <tr>Title</tr>
        <tr>Text</tr>
        <tr>Author</tr>
    </thead>
    <tbody>
        <tr th:if="${posts.empty}">
            <td colspan="2">No posts</td>
        </tr>
        <tr th:each="post : ${posts}">
            <td><span th:text="${post.title}"> Title </span></td>
            <td><span th:text="${post.text}"> Text </span></td>
            <td><span th:text="${post.author}"> Author </span></td>
        </tr>
    </tbody>
</table>


</body>
</html>